@import '../../../../sass/colors';

.table{
	border-spacing: 0 .8rem !important;
    border-collapse: separate;

	thead, tbody{
		tr{
            th {
                padding-left: 2rem;
            }
            td {
                padding: 1.5rem;
            }
			th, td {
				vertical-align: middle;
				border: none;
			}
		}
	}

	tbody{
		tr {
			box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
            
			td {
				background: #fff;
				&:nth-child(1) {
					border-radius: 0.50rem 0 0 0.50rem;
				}
				&:nth-last-child(1) {
					border-radius: 0 0.50rem 0.50rem 0;
				}
			}
		}
	}
}

h4 {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}